{{extend 'layout_starter.html'}}

{{if not has_admin:}}
    <div class="callout callout-info" align="center">
        <h2>{{=T('Welcome to Starter Web2py - Admin Lte!')}}</h2>

        <p>{{=T('For being the first access, please enter a password for the Administrator user \'admin\'')}}</p>
    </div>
    
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <i class="icon fa fa-user"></i>
              <h3 class="box-title">{{=T('Please insert a password for \'admin\'')}}</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" id="form_start" action="{{=URL(c='start',f='get_started')}}" method="POST">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">{{=T('User')}}</label>

                  <div class="col-sm-10">
                    <input  class="form-control" id="superuser" value="admin" readonly disabled>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">{{=T('Password')}}</label>

                  <div class="col-sm-10">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">{{=T('Sign Up')}}</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
         

          </div>
          <!-- /.box -->
        <div class="col-md-3">
        </div>
    </div>
    <!-- /.row -->
      </div>
{{else:}}
        {{if must_login:}}
         <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                  <!-- Horizontal Form -->
                  <div class="box box-info" align="center">
                    <div class="box-header with-border" align="center">
                      <i class="icon fa fa-warning"></i>
                      <h3 class="box-title">{{=T('Please, Log In')}}</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                        <div class="alert alert-warning alert-dismissible" align="center">
                            <h3>{{=T('To use the application you must first Log In')}}</h3>
                        </div>
                        <div>
                            <a href="{{=URL('default', 'user/login')}}"><button type="button" class="btn btn-block btn-success">{{=T('Log In here ')}} </button></a>
                        </div>
                  </div>
                  <!-- /.box -->

                  </div>
                  <!-- /.box -->
                <div class="col-md-3">
                </div>
        </div>
            <!-- /.row -->

        {{else:}}
        <h1>{{=T('Insert here your content')}}</h1>
        {{pass}}
{{pass}}
